{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpanaHub</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
</head>
<body>
    <div class="container">
        <div class="head">Enter New Password</div>
        <form action="" method="post" autocomplete="off" autocapitalize="off">
            {% csrf_token %}
            <div class="input-sec">
                <span class="name">Password</span>
                <!-- <input type="password" name="password" placeholder="Enter Password"> -->
                {{form.as_p}}
            </div>
            {% comment %} <div class="input-sec">
                <span class="name">Retype Password</span>
                <!-- <input type="text" name="password2" placeholder="Retype Password"> -->
                {{form.as_p}}
            </div> {% endcomment %}

            <!-- <p>Warning</p> -->

            <input type="submit" class="btn" value="Continue">
        </form>

        <div class="ask">
            <p></p>
            <!-- <p>Already have an account? <a href="login.html">Login</a>.</p> -->
        </div>
    </div>

</body>
</html>