{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpanaHub</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
</head>
<body>
    <div class="container">
        <div class="head">Recover Your Account</div>

        <p class="noti">Enter the email you used to register for us to help you recover your account.</p>
        <form action="" method="post" autocomplete="off" autocapitalize="off">
            {% csrf_token %}
            <div class="input-sec">
                {% comment %} <span class="name">Email</span> {% endcomment %}
                {{password_form}}
            </div>
            
            <input type="submit" class="btn" value="Get link">
        </form>

        <div class="ask">
            <p>Nevermind, <a href="login.html">Login</a>.</p>
        </div>
        <div class="asked">
        </div>
        
    </div>

</body>
</html>